{% extends 'layout.jinja2' %}

{% block title %}Thread - {% endblock title %}

{% block content %}
<p>
  <strong>Viewing Thread: {{thread.title}}</strong>
</p>
<table>
  <thead>
    <th>Creator</th>
    <th>Body</th>
    <th>Created At</th>
  </thead>
  {% for post in thread.posts %}
  <tr>
    <td>{{post.creator.name}}</td>
    <td>{{post.body | restructuredtext | safe}}</td>
    <td>{{post.created_at}}</td>
  </tr>
  {% endfor %}
</table>
<div>
<form action="{{ url }}" method="post" id="makepost">
<!--input type="hidden" name="next" value="{{ next_url }}"-->
<textarea name="post_body" form="makepost"></textarea>
<!--
<div class="form-group">
    <label for="post_body">Post Body</label>
    <input type="text" name="post_body">
</div>
-->
<div class="form-group">
    <button type="submit" name="form.submitted" value="Submit" class="btn btn-default">Submit</button>
</div>
</form>

</div>
{% endblock content %}
